<div class="container"> 
      <div class="col-md-6 header">
        <div class="background ">

          <h2 class="heading">Sign up to Pet Lover!</h2>
      

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%# <%= render "devise/shared/error_messages", resources: resource %>
            <div class="col-md-6 text_box">
              <span class="txt1">
                <%= f.input :email,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "email" }%>
              </span>

              <span class="col-md-6 text_box">
                <%= f.input :password,
                          required: true,
                          hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                          input_html: { autocomplete: "new-password" } %>
              </span>

              <span class="col-md-6 text_box">
                <%= f.input :password_confirmation,
                          required: true,
                          input_html: { autocomplete: "new-password" } %>
              </span>
            </div>

          <div class="col-md-6 submit_btn">
            <%= f.submit "Sign up", class:"btn btn-primary"%>
          </div>
        <% end %>
     
      </div>
  </div>
</div>