<div class="background">

  <div class="col-md-6 ">
      <div class="col-md-6 header">
          <h2>Sign up to Pet Lover!</h2>
      </div>

      <div class="col-md-6 login_btn ">
        <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class: "btn btn-primary"%>
      </div>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="col-md-6 text_box">
            <span class="txt1">
              <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" }%>
            </span>

            <span class="col-md-6 text_box">
              <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            </span>

            <span class="col-md-6 text_box">
              <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
            </span>
          </div>

        <div class="col-md-6 submit_btn">
          <%= f.submit "Sign up", class:"btn btn-primary"%>
        </div>
      <% end %>


  </div>
</div>