<% if @errors.present? %>
    <div class="errors">
        <ul>
            <% @errors.each do |error| %>
            <li> <%= error %></li>
            <%end%>
        </ul>
    </div>
<%end%>

<%= render partial: "shared/errors" %>
<%= form_for :post, url: pets_path do |f| %>

<div class="field">
  <%= f.label :title %><br> 
  <%= f.text_field :title, class: "form-control" %><br>
</div>

<div class="field">
  <%= f.label :description %><br>
  <%= f.text_area :description, class: "form-control" %><br>
</div>

<div class="field">
  <%= f.label :picture %><br> 
  <%= f.file_field :picture %><br>
</div>

<div class="field">
  <%= f.label :images %><br> 
  <%= f.file_field :images, multiple: true %><br>
</div>

<div class="field">
  <%= f.submit class: "btn btn-primary"%>
</div>
<% end %> 