<div class="container">

    <div class="title-container">
        <h1> Edit Pet </h1>
    </div>

    <div>
      <%= form_for :pet, url: pet_path(@pet), :html => {:multipart => true}, method: :patch do |f| %>
            <%= f.select :category_id, @categories %>

        <div class="field">
            <%= f.label :title %> 
            <%= f.text_field :title, class: "form-control" %><br>
        </div>

        <div class="field">
            <%= f.label :description %>
            <%= f.text_area :description, class: "form-control" %><br>
        </div>

        <div class="field">
            <%= f.label :picture %> 
            <%= f.file_field :picture, class: "form-control" %><br>
        </div>

        <div class="field">
          <%= f.label :images %> 
          <%= f.file_field :images, multiple: true, class: "form-control" %><br>
        </div>

        <div class="field button-link">
            <%= f.submit class: "btn btn-primary"%>
        </div>
        <%end%>
      </div>
</div>