<h1>pets#edit</h1>
<p>Find me in app/views/pets/edit.html.erb</p>


<h1> Edit pet </h1>

<%# <%if current_user && current_user.id == params[:id].to_i %> 


    <%= form_for :pet, url: pet_path(@pet), method: :put do |f| %>

    <div class="field">
      <%= f.label :title %> 
      <%= f.text_field :title %><br>
    </div>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description %><br>
    </div>

    <div class="field">
      <%= f.label :picture %> 
      <%= f.file_field :picture %><br>
    </div>

    <div class="field">
      <%= f.label :images %> 
      <%= f.file_field :images, multiple: true %><br>
    </div>

    <div class="field">
      <%= f.submit({:class => 'btn btn-primary'})%>
    </div>
    <% end %>
