
<div class="container">
<h2 class="current_category"><%= params[:category] %> </h2>

    <% if @pets.count == 0 %>
    <h2> No pets available in this category</h2>
    <% else %>

    <div class="row">
        <% @pets.each do |pet| %>
        <div class="col-md-6">
            <h4> Title: <%= link_to truncate(pet.title), pet_path(pet)%> </h4><br>
            <a href="/pets/<%= pet.id %>"> 
               <%= image_tag pet.picture, class: "pet" %> 
            </a><br>
        </div>
        <% end %>
    </div>
    <% end %>
    <hr>

        <div class="link_button" >
            <%= link_to "Add pet", new_pet_path, class: "btn btn-success" %>
        </div>
</div>

