<div class="row image_padding">
    <%# top image and text description %>
    <div class="col-md-5 main_image each_image_no_border">
        <%= image_tag(url_for(@pet.picture.url), width: '100%')%>
        <hr>
        <h3><%= @pet.title %></h3>
    </div>
    <br>
     <div class="col-md-6 ">
        <h3> <%= @pet.title %></h3>
        <p class="descript_text"> <%= @pet.description %></p>
    </div>



  <%# Lower images  %>  


    <div class="row col-md-12 button-links ">
         <% @pet.images.each do |each_image|%>
            <%= image_tag(url_for(each_image.url), width:'50%', class:'each_image col-md-2') %>
        <% end %>
    </div>



    <div class="row container button-links">
      <%= link_to 'Back', pets_path, class: "btn btn-primary button-link"%> 
        <% if user_signed_in? %>
            <% if @pet.user_id.to_i == current_user.id %>
                <%= link_to "Edit", edit_pet_path(@pet), class: "btn btn-outline-secondary button-link"%> 
                <%= link_to "Delete", pet_path(@pet), class: "btn btn-danger button-link", method: :delete, data: {confirm: "Are you sure?"} %> 
            <% end %>
        <% end %>
    </div>
    <hr>

    <%# Review section %>
    <div class="row container">
        <div class="review_padding col-md-5">
            <h4>Reviews</h4>
            <%= render @pet.reviews %>
            <% if @pet.user_id.to_i == current_user.id %>
            <%= current_user.name %>
            <% end %>
        </div>
        <div class="review">
            <%= link_to "Add Review", new_pet_review_path(@pet) %>
        </div>
    </div>

</div>

