<div class="row">

    <div class="col-md-4 card" style="border:0px;">
        <div class="picture card-body">
            <%= image_tag(url_for(@pet.picture))%>
        </div>
    </div>

     <div class="col-md-8 card card-body" style="border:0px;">
        <h2> <%= @pet.title %></h2>
        <p> <%= @pet.description %></p>
    </div>

        <div class="images col-md-12 card" style="border:0px;">
            <% @pet.images.each do |each_image|%>
            <div class="images col-md-3 card" style="border:0px;">
                <%= image_tag(url_for(each_image)) %>
                <% end %>
            </div>
        </div>
    
</div> 

<div class="row review-col">

    <div class="col-md-8">
        <h4>Reviews</h4>
        <%= render @pet.reviews %>
        
        <div class="review">
            <%= link_to "Add Review", new_pet_review_path(@pet) %>
        </div>

    </div>
</div>



    <div class="col-md-5 button-links">
        <%= link_to 'Back', pets_path, class: "btn btn-primary"%> 
        <% if user_signed_in? %>
            <% if @pet.user_id.to_i == current_user.id %>
                <%= link_to "Edit", edit_pet_path(@pet), class: "btn btn-secondary"%> 
                <%= link_to "Delete", pet_path(@pet), class: "btn btn-danger", method: :delete, data: {confirm: "Are you sure?"} %> 
            <% end %>
        <% end %>
    </div>


<hr>



