<div class="container">

    <div style="margin: 40px;">
        <h1>Pet Selected</h1> 
    </div>

    <div class="container">
        <strong>Title:</strong><br>
        <h3><%= @pet.title %>
    </div>

    <div class="container">
        <strong>Description:</strong><br>
        <h5><%= @pet.description %></h5><br>
    </div>

    <div class="container">
        <strong>Picture:</strong><br>
        <%= image_tag(url_for(@pet.picture))%>
    </div>

    <div class="container">
        <strong>Images:</strong><br>
        <% @pet.images.each do |each_image|%>
        <%= image_tag(url_for(each_image))%>
        <% end %>
    </div>


    <%# <%= link_to 'Edit', edit_pet_path(@pet)%>
    <div>
        <li> <%= link_to 'Back', pets_path%> </li>
        <li> <%= link_to "Edit", edit_pet_path(@pet)%> </li> <br>
        <li> <%= link_to "Delete", pet_path(@pet), method: :delete %> </li>
        <hr>
    </div>
    <%# 
    .variant(resize_to_limit: [200, 200]) %>
</div>