
<div class="container"> 
      <div class="col-md-6 header">
        <div class="background">
       <h2 class="heading"> Sign In to Pet Lover</h2>

      <div class=" login_btn_fb ">
            <%= link_to "Sign In with Facebook", user_facebook_omniauth_authorize_path, class: "btn btn-primary"%>
        </div>


      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%# <%= render "devise/shared/error_messages", resources: resource %>
        <div class="col-md-6 text_box">
          <span class="txt1">
            <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
          </span>
          <span class="col-md-6 text_box">
            <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </span>
        </div>

        <div class=" col-md-6 submit_btn">
          <%= f.submit "Sign In", class: "btn btn-primary"%>
        </div>
      <% end %>
      <div class="col-md-6 text_box1 ">
    
       <%= render "devise/shared/links" %>
    <div>
    </div>
  </div>
</div>