<h1>Adorable Dogs #################</h1>


<div style="margin-bottom: 50px; padding-top: 20px">
    <h1>Main Page</h1> 
</div>



<% @posts.each do |post| %>

<h4>
Title: <%= link_to post.title %><br>
Description:  <%= link_to post.description %><br>
</h4> 


<%= link_to "Delete", post_path(post), method: :delete %>  |
<%= link_to "Edit", edit_post_path(post)%><br><hr>
<% end %>

<%= link_to "Add Post", new_post_path %>