<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>

<h1> Add Post </h1>

<%= form_for :post, url: posts_path do |f| %>

<div class="field">
  <%= f.label :title %> 
  <%= f.text_field :title %><br>
</div>

<div class="field">
  <%= f.label :description %>
  <%= f.text_area :description %><br>
</div>

<div class="field">
  <%= f.label :picture %> 
  <%= f.file_field :picture %><br>
</div>

<div class="field">
  <%= f.label :images %> 
  <%= f.file_field :images, multiple: true %><br>
</div>

<div class="field">
  <%= f.submit({:class => 'btn btn-primary'})%>
</div>
<% end %> 

<%# form_with(model: post, local: ture) %> 