<!DOCTYPE html>
<html>
  <head>
    <title>PetLoverRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%# bootstrap %>
    <%# <link rel="stylesheet" type="text/css" href="css/main.css"> %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <style>
    .nav_link{
      margin-left: 20px; 
      background-color: white; 
      text-decoration:none;
      padding:5px; 
      border-radius: 5px;
      color: white;
    }
    .navbartop{
      background-color: #808080;
    }
    /* h1{
      color: white;
      margin-left: 30px;
      font-size: 100px;
    } */
    </style>
</head>


<body>

<header>
  <% if user_signed_in? %>
  
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="">Pet Lover</a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    </form>
  </nav>
  <%# <%= render partial: "pets/_index" %>  

  <% else %>
  <div class="navbartop">
    <nav class="navbar ">
      <h1 class="navbar-brand"><strong>Pet Lover</strong></h1>
        <form class="form-inline" style="margin: 10px;">
          <%# <div class="nav_link"></div> %>
          <div class="nav_link"><%= link_to "Sign Up", new_user_registration_path  %></div>
          <div class="nav_link"><%= link_to "Sign In", user_session_path  %></div>     
        </form>
    </nav>
  </div>
  <% end %>
</header>


<section>
    <div id="flash">
      <% flash.each do |key, value| %>
       <div class="flash alert <%= alert_class(key)%>"><%= value %></div>
       <% end %>
    </div>
   <%= yield %>
</section>

  <%= javascript_pack_tag "application" %> 
</body>

 
 
   <%# bootstrap %>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
