<!DOCTYPE html>
<html>
  <head>
    <title>PetLoverRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%# bootstrap %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  background-color :#D3D3D3;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  /* flex-wrap: wrap; */
  padding: 0 4px;
  margin :auto;

}

/* Create four equal columns that sits next to each other */
.column {
  display:flex;
  max-width: 100%;

}

.column img {
  margin-left: 2%;
  width: 30%;
  height: 400px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1000px) {
  .column {
    -ms-flex: 50%;
    flex: 100%;
    max-width: 100%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
</style>


</head>
<!-- app/views/pages/home.html.erb -->
<% if user_signed_in? %>
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Pet Lover</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  </form>
</nav>

<% else %>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">Pet Lover</a>
      <form class="form-inline" style="margin: 10px;">
        <div style="margin-left: 20px;"><%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %></div>
        <div style="margin-left: 20px;"><%= link_to "Sign Up", new_user_registration_path  %></div>
        <div style="margin-left: 20px;"><%= link_to "Sign In", user_session_path  %></div>     
      </form>
  </nav>
<% end %>

<body>
   <%= yield %>
  <%= javascript_pack_tag "application" %> 
</body>

 
 
   <%# bootstrap %>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
